{% extends "./base.html" %}

{% block body %}
<h2>Login</h2>
<form id="loginForm">
  <label>Email:</label><input type="text" id="Email"><br>
  <label>Contraseña:</label><input type="password" id="Contraseña"><br>
  <input type="submit" value="Login">
</form>

<div id="mensaje"></div>

<script>
  document.getElementById("loginForm").addEventListener("submit", async function (event) {
    event.preventDefault();

    const email = document.getElementById("Email").value;
    const password = document.getElementById("Contraseña").value;

    try {
      const res = await fetch("/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          Email: email,
          Contraseña: password
        })
      });

      const data = await res.json();

      if (!data.success) {
        alert("Error: " + data.error);
      } else {
        window.location.href = '/';  // Redirige al inicio
      }

    } catch (err) {
      console.error("Server error:", err);
      alert("Something went wrong.");
    }
  });
</script>
{% endblock %}