{% extends "./base.html" %}

{% block body %}
<div>
   <p>Nombre:<input id="Nombre" type="text"></p>
   <p>Apellido:<input id="LastNombre" type="text"></p>

   <p>Fecha de cumpleaños:<input id="Fecha_nacimiento" type="date"></p>
   <p>DNI:<input id="DNI" type="text"></p>
   
   <p>Equipo Id:<input id="id_equipo" type="number"></p>

   <p>Telefono:<input id="Telefono" type="text"></p>
   <p>Email:<input id="Email" type="email"></p>

   <p>Celiaco:<input id="C" type="checkbox"></p>
   <p>Vegentariano:<input id="V" type="checkbox"></p>
   
   <button onclick="addDriver()">Añadir</button>
</div>

<script>
    function addDriver() {
        const Nombre = document.getElementById('Nombre').value + " " + document.getElementById('LastNombre').value;
        const Fecha_nacimiento = document.getElementById('Fecha_nacimiento').value;
        const DNI = document.getElementById('DNI').value;
        const id_equipo = document.getElementById('id_equipo').value;
        const Telefono = document.getElementById('Telefono').value;
        const Email = document.getElementById('Email').value;

        let Comida_especial = "";
        if (document.getElementById('C').checked) {
            Comida_especial += "C";
        }
        if (document.getElementById('V').checked) {
            Comida_especial += "V";
        }
        if (Comida_especial === "") {
            Comida_especial = "N";
        }

        fetch('/api/Players', {  
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                Nombre: Nombre,
                Fecha_nacimiento: Fecha_nacimiento,
                DNI: DNI,
                id_equipo: id_equipo,
                Telefono: Telefono,
                Email: Email,
                Comida_especial: Comida_especial
            })
        })
        .then(res => res.json())
        .then(data => {
            if (!data.success) {
                alert("Error: " + data.error);
            }
        })
        .catch(err => {
            console.error("Server error:", err);
            alert("Something went wrong.");
        });
    }
</script>
{% endblock %}
