{% extends "./base.html" %}

{% block body %}
<div>
   <p>Colegio:<input id="Colegio" type="text"></p>

   <p>Deporte</p>
       <select id="Deporte">
        <option value=""></option>
        <option value="Fut">Futbol</option>
        <option value="Bas">Basquet</option>
        <option value="Vol">Voley</option>
    </select> 
    <p>Sexo del Equipo </p>
   <select id="Sexo">
        <option value=""></option>
        <option value="Mas">Masculino</option>
        <option value="Fem">Femenino</option>
    </select>

        <p>Categoria</p>
   <select id="Categoria">
        <option value=""></option>
        <option value="May">Mayor</option>
        <option value="Int">Intermedio</option>
        <option value="Men">Menor</option>
    </select>
    <br>
    <br>
   <button onclick="addDriver()">Añadir</button>
</div>

<script>
    function addDriver() {
        const Colegio = document.getElementById('Colegio').value;
        const Sexo = document.getElementById('Sexo').value;
        const Categoria = document.getElementById('Categoria').value;
        const Deporte = document.getElementById('Deporte').value;

        fetch('/api/Equipo', {  
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                Colegio: Colegio,
                Sexo: Sexo,
                Categoria: Categoria,
                Deporte: Deporte

            })
        })
        .then(res => res.json())
        .then(data => {
            if (!data.success) {
                alert("Error: " + data.error);
            }
        })
        .catch(err => {
            console.error("Server error:", err);
            alert("Something went wrong.");
        });
    }
</script>
{% endblock %}
