{% extends "./base.html" %}

{% block body %}
<h1 style="text-align: center;">Copa Renault</h1>
<p style="text-align: left">🎉🏁 ¡Se viene la gran Copa Renault 2025! 🏁🎉

Organizada con toda la pasión y el esfuerzo por los estudiantes de Séptimo Año del Instituto Técnico Renault, esta competencia ya es una tradición fierrera y deportiva que cada año crece más, con el sello único de quienes aman lo que hacen.
<p style="text-align: left">⚙️💪 No es solo una competencia: es un evento que celebra la camaradería, el trabajo en equipo y el espíritu Renault. Con 3 deportes, múltiples categorías, y desafíos para todos los gustos, la Copa Renault se convierte en el punto de encuentro ideal para estudiantes, familias y toda la comunidad educativa.
</p>
<p style="text-align: left">🎁 ¡Y eso no es todo! Habrá rifas, premios, sorteos y participación de sponsors que nos acompañan desde hace varios años, apoyando este proyecto que une educación, deporte y valores.
</p>
<p style="text-align: left">🚀 Agradecemos a todas las empresas, docentes y colaboradores que hacen posible esta experiencia, donde los chicos de Séptimo Año no solo demuestran sus conocimientos técnicos, sino también su capacidad de organización, liderazgo y compromiso.
</p>
<p style="text-align: left">🔥 Vení a vivir la emoción, alentá a tu equipo y sé parte de la historia de esta Copa Renault que ya es leyenda dentro del Instituto.
</p>
<p style="text-align: left">📅 ¡Próximamente más info sobre fechas, horarios y cómo participar!</h2>
</p>
<div>
    
</div>
<script>

</script>
{% endblock %}
