{% extends "./base.html" %}

{% block body %}
<h1>Bienvenido =)</h1>
<div>
    <button onclick="location.href='http://127.0.0.1:5000/Add Equipo'">Añadir Equipo</button>
    <button onclick="location.href='http://127.0.0.1:5000/Add Player'">Añadir Persona</button>
    <button onclick="location.href='http://127.0.0.1:5000/Add Match'">Añadir Partido</button>
    <button onclick="location.href='http://127.0.0.1:5000/Add Staff'">Añadir Empleado</button>
    <button onclick="location.href='http://127.0.0.1:5000/login'">Login</button>
    <button onclick="location.href='http://127.0.0.1:5000/signup'">Signup</button>
</div>
<script>

</script>
{% endblock %}
