{% extends "./base.html" %}

{% block body %}
<div>
   <p>Nombre:<input id="Nombre" type="text"></p>
   <p>Email:<input id="Email" type="text"></p>
   <p>Contraseña:<input id="Contraseña" type="password"></p>

   <button onclick="addDriver()">Signup</button>
</div>



<script>
    function addDriver() {
        const Nombre = document.getElementById('Nombre').value;
        const Email = document.getElementById('Email').value;
        const Contraseña = document.getElementById('Contraseña').value;
        const rango="C"
        fetch('/signup', { 
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                Nombre: Nombre,
                Email: Email,
                Contraseña: Contraseña
            })
        })
       .then(res => res.json())
        .then(data => {
            if (!data.success) {
                alert("Error: " + data.error);
            }
        })
        .catch(err => {
            console.error("Server error:", err);
            alert("Something went wrong.");
        });
    }
</script>
{% endblock %}